@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-virgo:before { content: "\f100"; }
.flaticon-002-aquarius:before { content: "\f101"; }
.flaticon-003-gemini:before { content: "\f102"; }
.flaticon-004-capricorn:before { content: "\f103"; }
.flaticon-005-cancer:before { content: "\f104"; }
.flaticon-006-aries:before { content: "\f105"; }
.flaticon-007-taurus:before { content: "\f106"; }
.flaticon-008-scorpio:before { content: "\f107"; }
.flaticon-009-libra:before { content: "\f108"; }
.flaticon-010-sagittarius:before { content: "\f109"; }
.flaticon-011-pisces:before { content: "\f10a"; }
.flaticon-012-leo:before { content: "\f10b"; }
.flaticon-013-ophiuchus:before { content: "\f10c"; }
.flaticon-014-mercury:before { content: "\f10d"; }
.flaticon-015-jupiter:before { content: "\f10e"; }
.flaticon-016-venus:before { content: "\f10f"; }
.flaticon-017-moon:before { content: "\f110"; }
.flaticon-018-uranus:before { content: "\f111"; }
.flaticon-019-earth:before { content: "\f112"; }
.flaticon-020-pluto:before { content: "\f113"; }
.flaticon-021-mars:before { content: "\f114"; }
.flaticon-022-neptune:before { content: "\f115"; }
.flaticon-023-saturn:before { content: "\f116"; }
.flaticon-024-sun:before { content: "\f117"; }
.flaticon-025-fire:before { content: "\f118"; }
.flaticon-026-water:before { content: "\f119"; }
.flaticon-027-air:before { content: "\f11a"; }
.flaticon-028-earth:before { content: "\f11b"; }

$font-Flaticon-001-virgo: "\f100";
$font-Flaticon-002-aquarius: "\f101";
$font-Flaticon-003-gemini: "\f102";
$font-Flaticon-004-capricorn: "\f103";
$font-Flaticon-005-cancer: "\f104";
$font-Flaticon-006-aries: "\f105";
$font-Flaticon-007-taurus: "\f106";
$font-Flaticon-008-scorpio: "\f107";
$font-Flaticon-009-libra: "\f108";
$font-Flaticon-010-sagittarius: "\f109";
$font-Flaticon-011-pisces: "\f10a";
$font-Flaticon-012-leo: "\f10b";
$font-Flaticon-013-ophiuchus: "\f10c";
$font-Flaticon-014-mercury: "\f10d";
$font-Flaticon-015-jupiter: "\f10e";
$font-Flaticon-016-venus: "\f10f";
$font-Flaticon-017-moon: "\f110";
$font-Flaticon-018-uranus: "\f111";
$font-Flaticon-019-earth: "\f112";
$font-Flaticon-020-pluto: "\f113";
$font-Flaticon-021-mars: "\f114";
$font-Flaticon-022-neptune: "\f115";
$font-Flaticon-023-saturn: "\f116";
$font-Flaticon-024-sun: "\f117";
$font-Flaticon-025-fire: "\f118";
$font-Flaticon-026-water: "\f119";
$font-Flaticon-027-air: "\f11a";
$font-Flaticon-028-earth: "\f11b";