:root {
  --nav-h: 80px;
}

/* גובה ה-Nav בפועל */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  /* חשוב! */
  overflow-x: hidden;
  overflow-y: auto;
  /* ה-body הוא זה שגולל */
}



img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero {

  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 40px;
  justify-content: center;
  /* background: url("./TRY_clean.jpg") center/cover no-repeat; */


}



.hero-title {
  /* font-family: "Manrope", sans-serif; */
  font-family: "Wix Madefor Display", system-ui, sans-serif;
  font-weight: 800;
}



.try {
  height: 500px;

  width: 900px;
  background: #000;
  top: 70vh;
  position: absolute;
  z-index: 10;
}



.wrapper {

  height: 100dvh;
  overflow-x: clip;
  overflow-y: auto;
  perspective: 10px;

}



.picDiv {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.bgImage {

  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);

  will-change: transform;
  object-fit: cover;
  transform: translateZ(-10px)scale(2);


}